Source: ocaml-http
Section: ocaml
Priority: optional
Maintainer: Arlen Cuss <celtic@sairyx.org>
Build-Depends:
 debhelper (>> 5.0.0),
 cdbs,
 dh-ocaml,
 ocaml-nox,
 camlp4,
 ocaml-findlib,
 libpcre-ocaml-dev,
 libocamlnet-ocaml-dev (>= 2.2.9-6)
Standards-Version: 3.7.2
Vcs-Git: git://ssh.ocamlcore.org/gitroot/ocaml-http/ocaml-http.git
Vcs-Browser: http://git.ocamlcore.org/cgi-bin/gitweb.cgi?p=ocaml-http/ocaml-http.git;a=summary
Homepage: http://ocaml-http.forge.ocamlcore.org/

Package: libhttp-ocaml-dev
Architecture: any
Depends:
 ocaml-nox-${F:OCamlABI},
 libpcre-ocaml-dev,
 libocamlnet-ocaml-dev,
 ${misc:Depends}
Description: OCaml library for writing HTTP servers
 OCaml HTTP is a library for the Objective Caml programming language,
 used to build simple HTTP servers, largely inspired by Perl's
 HTTP::Daemon module.
 .
 In order to implement an HTTP server, the programmer has to provide a
 daemon specification which contains, among other parameters, a callback
 function invoked by OCaml HTTP on well-formed HTTP requests received.
 HTTP responses can be sent over an out_channel connected with client
 socket, accessible from the callback.
 .
 The library contains also facility functions that helps in creating
 well-formed HTTP responses and a tiny HTTP client.
